.git/
.github/

node_modules
.gitignore

tsconfig.server.json
jsconfig.json
vuetify.options.js
download-swagger.js
coverage/

# .nuxt/
.nuxt/dist
.nuxt/nitro

.next/


dist/
www/

*.scss
*.css


app/apis/
cordova/

*.json

.pages/

!.storybook/

public/

test-results/
.react-router/
